# GN: 31 jan 2018, wagtail 1.13.1 doesn't play well with django 2.0
django<2
django-compressor
django-extensions
django-grappelli
django-libsass
django-model-utils
django-redis
psycopg2
redis
elasticsearch>=5.0.0,<6.0.0

$PH_REQUIREMENTS
