{% load staticfiles %}

<div class="narrow-footer-column">
  <ul class="footer-links">
    <li><h4>Find out more</h4></li>
    <li><a href="">Image credits</a></li>
    <li><a href="">About the project</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Privacy</a></li>
  </ul>
</div>

<div class="narrow-footer-column">
  <ul class="footer-links">
    <li><h4>Social media</h4></li>
    <li><a href=""><i class="fa fa-twitter-square"></i> Twitter</a></li>
  </ul>
</div>

<div class="narrow-footer-column">
  <ul class="footer-links">
    <li><h4>Funded by</h4></li>
    <li class="logo">
      <a href="#">Funder name</a>
    </li>
  </ul>
</div>

<div class="wide-footer-column">
  <ul class="footer-links">
    <li><h4>Project partners</h4></li>
    <li class="logo">
      <a href="#"></a>
    </li>
    <li class="logo">
      <a href=""></a>
    </li>
    <li class="logo">
      <a href=""></a>
    </li>
  </ul>
</div>
