{% load staticfiles %}

<div class="row">
  <div class="large-12 columns">
    <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="top-menu">
      <div class="top-bar-left">

        {% block main_menu %}
        {% get_site_root as site_root %}
        {% main_menu root=site_root current_page=self %}
        {% endblock %}

      </div>
      <div class="top-bar-right">
      </div>
    </div>
  </div>
</div>
