{% load staticfiles compress require %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{% endblock %} | PREOJECT_TITLE</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% compress css %}
  {# SCSS compilation relies on django compressor #}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  <!-- FontAwesome -->
  {#
    Copy _variable.scss and font-awesome.scss and change the @import paths
    to point to the project ones rather than to the vendor folder
  #}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/font-awesome.scss' %}">
  {% endcompress %}
</head>
<body>
  <header>
    {% include 'includes/header.html' %}
  </header>

  <nav>
    {% include 'includes/navigation.html' %}
  </nav>

  <div class="row">
    <div class="large-12 columns">
      <section class="main">
        {% block title %}{% endblock %}
        {% block main %}
        {% endblock %}
      </section>
    </div>
  </div>

  <footer>
    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}
  </footer>
  
  <!-- define requirejs config settings. -->
  <script type="text/javascript">
    {% include 'includes/config.js' %}
  </script>
  {% require_module 'config' %}

  {% block footer_scripts %}{% endblock %}
</body>
</html>
